<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.fundService.mapper.defect.DefectMapper">
    <select id="queryDefect" resultType="com.tc.fundService.entity.defect.Defect">
        SELECT *
        FROM defect_details
    </select>

    <select id="queryDefectById" resultType="com.tc.fundService.entity.defect.Defect">
        SELECT *
        FROM defect_details
        WHERE
        id=#{id}
    </select>

    <select id="queryDefectBySeverityId" resultType="com.tc.fundService.entity.defect.Defect">
        SELECT *
        FROM defect_details
        WHERE
        severity_id=#{severityId}
    </select>

    <insert id="insertDefect" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id" parameterType="com.tc.fundService.entity.defect.Defect">
        INSERT INTO
        defect_details(title,created_date,find_version_id,priority_id,severity_id,defect_description)
        VALUES
        (#{title},#{createdDate},#{findVersionID},#{priorityId},#{severityID},#{defectDescription})
    </insert>

    <update id="updateDefect" parameterType="com.tc.fundService.entity.defect.Defect">

        update defect_details
        <set>
            <if test="title != null">title=#{title},</if>
            <if test="defectDescription != null">defect_description=#{defectDescription},</if>
            <if test="createdDate != null">created_date=#{createdDate}</if>
        </set>
        where id=#{id}

    </update>

    <delete id="deleteDefect">
        DELETE FROM
        defect_details
        WHERE
        id =
        #{id}
    </delete>
</mapper>